


/*First Page*/
.jumbotron {

}
.bean{
    height:100px;
}

/*Choose call to action*/
.choose {

}

/*City pages*/
.person_blurb{
    
}



/*Info Window*/
.window_image{
    height:80%;
    width: 80%;
    

}

/*Booking Page*/

/*Contact Us*/

