


/*First Page*/
.jumbotron {
  
}
.bean{
    height:100px;

}

/*Choose call to action*/
.choose {

}

/*City pages*/
.person_blurb{
    
}
.local_image{
    height: 50%;
    width:50%;
}
.pic_blurb{
    margin: auto;
    width: 100%;
}



/*Info Window*/
.window_image{
    height:80%;
    width: 80%;
    

}

/*Booking Page*/

/*Contact Us*/

