


/*First Page*/
.jumbotron {

}
.bean{
    height:100px;
}

/*Choose call to action*/
.choose {

}

/*Map pages*/




/*Info Window*/
.window_image{
    height:80%;
    width: 80%;
    

}

/*Booking Page*/

/*Contact Us*/

